.container{
    height: 400px;
    width: 90%;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    border-radius: 3px;
    border-color: #D3D3D3;
    margin-bottom: 10px;
}

.box2{ 
	height: 75px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	overflow: scroll;
    margin-left: 10px;
    margin-right: 10px;
    border-width: 1px;
}

.line-separator{
height:1px;
margin-left:1px;
background:#717171;
border-bottom:1/2px solid #D3D3D3;
width: 100%;
}

.box3 {
	height: 20px;
    margin-left: 50px;
    overflow: none;
}

.comment{
	margin-top: -25px;
    width: 30px;
    float: right;
}

.datasource{
	margin-left: -50px;
	margin-top: -25px;
    float: left;
}

.main_image{
 display : block;
    margin : auto;
    width: 100%;
    height: auto;
}

.logo { 
	
    width: auto;
    height: auto;
    max-height: 30px;
    max-width: 30px;
}

.userstamp{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	float: right;
}

#entire{
background-color: #E9E9E9;
}

body{
background-color: #E9E9E9;
}


